.center-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding-top: 5rem;
}

#panelSelectionRef {
  width: fit-content;
  overflow-x: hidden;
  overflow-y: hidden;
}
.fieldset-title {
  color: #000000;
  margin-top: -20px;
  text-align: center;
}
